<h4 class="mx-auto" style="width: 300px;margin-bottom: 25px;margin-top: 30px;">SIGN IN FOR:</h4>


<div class="mx-auto" style="width: 300px;">
      <div style="position:relative; height:100px;margin-bottom: -20px">
        <button class ="btn btn-success" style="width: 40%; height:fit-content;">Driver</button>
        <button  class ="btn btn-success" style="width: 40%;height:fit-content; position: relative; right: -50px;">User</button>
      </div>
      <div class="mx-auto" style="width: 300px;height: 10; margin-bottom: 40px;">
        <input type="text" name="Username" placeholder="Username" style="width: 100%; margin-bottom: 10px">
        <input type="password" name="password" placeholder="Password" style="width: 100%;">
      </div>
      <div>
        <button (click)= handleLogin class ="btn btn-success" style="width: 100%;margin-bottom: 10px">Login</button><br>
        <button  class ="btn btn-success" style="width: 100%;margin-bottom: 10px">For Guest User</button>
      </div>
      <p><a routerLink=""><em>Forgot Password?</em></a></p> 
      <p><a routerLink="">Not a member? Register here</a></p>
</div>